//mixins for SASS files

//styling for a tags, uses default values
@mixin linkDefault ($color: black, $decoration: none) {
    color: $color;
    text-decoration: $decoration;
}

@mixin buttonStyling ($background-color: grey, $padding: 10px 20px, $color: white, $border-radius: 5px, $border: none) {
    background-color: $background-color;
    padding: $padding;
    color: $color;
    border-radius: $border-radius;
    border: $border;

    &:hover{
        cursor: pointer;
    }
}