.dvdDetails{
    padding: 40px;
    min-height: 89vh;

    #main-header{
        font-size: 24px;
        padding: 30px 50px;
    }

    #detail{
        background-color: $offWhite;
        width: 100%;
    
        img{
            height: 300px;
        }
    
        p {
            margin: 20px 20px;
        }
    }

    #button-group{
        width: 20vw;
        display: flex;
        margin: 20px 40px;
        justify-content: space-between;

        #edit-button{
            
            

            @include buttonStyling($background-color: orange);

            &:hover{
                background-color: grey;
            }
        }

        #rent-button{
            @include buttonStyling($background-color: orange);

            &:hover{
                background-color: grey;
            }
        }
    }
}

