* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif; }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px; }

#wrapper {
  height: 100%;
  width: 100%; }

nav {
  position: fixed;
  padding-top: 8px;
  padding-left: 20px;
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f1f2f3; }
  nav #searchbar form #searchtextbox {
    height: 24px;
    width: 15vw;
    border-radius: 5px;
    border: 1px black solid; }
  nav #searchbar #suggestionDiv {
    width: 20vw;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  nav .navLinks a {
    margin: 0px 20px;
    text-align: right;
    color: black;
    text-decoration: none; }
    nav .navLinks a:hover {
      text-decoration: underline; }

#navBlock {
  height: 5vh;
  width: 100%; }

#detail {
  padding: 20px;
  height: 80vh; }
  #detail img {
    height: 300px; }
  #detail p {
    margin: 20px 20px; }

.frontPage {
  height: 90vh;
  width: 100vw;
  padding: 20px;
  background-color: white; }
  .frontPage a img {
    opacity: 0.6;
    width: 400px;
    -webkit-box-shadow: 1px 1px gray;
    box-shadow: 1px 1px gray;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .frontPage a img:hover {
      opacity: 1.0;
      -webkit-box-shadow: 3px 3px 5px black;
      box-shadow: 3px 3px 5px black; }

.grid-container {
  width: 100%;
  padding: 30px 50px;
  height: 135vh;
  background-color: #f1f2f3; }
  .grid-container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .grid-container .row .col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 10px 20px;
      /*border: black 1px solid;*/
      border-radius: 5px;
      /*text-align: center;*/
      padding: 5px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 15%;
      background-color: white;
      -webkit-box-shadow: 2px 1px lightgrey;
      box-shadow: 2px 1px lightgrey; }
      .grid-container .row .col:hover {
        -webkit-box-shadow: 2px 1px grey;
        box-shadow: 2px 1px grey; }
      .grid-container .row .col .listTitle {
        font-weight: 700; }
    .grid-container .row img {
      height: 300px;
      width: 100%; }

.inputArea {
  padding: 30px 50px;
  min-height: 89vh; }
  .inputArea .top-row {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 24px; }
  .inputArea .middle-row form {
    width: 30vw; }
    .inputArea .middle-row form .txtInput {
      height: 5vh;
      margin-bottom: 16px; }
    .inputArea .middle-row form div .txtInput {
      height: 5vh;
      margin-bottom: 16px; }
    .inputArea .middle-row form div .button {
      padding: 5px 10px;
      border: 1px black solid;
      background-color: white;
      width: 10vw;
      margin-bottom: 16px; }
      .inputArea .middle-row form div .button:hover {
        cursor: pointer;
        background-color: #f1f2f3; }

.errorScreen {
  padding: 20px 30px;
  height: 89vh; }
  .errorScreen #main-header {
    font-size: 30px;
    font-weight: 700; }

.logout {
  height: 89vh;
  padding: 30px 40px; }

footer {
  height: 5vh;
  width: 100%;
  background-color: #f1f2f3;
  font-size: 12px;
  padding-left: 30px; }
